<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/basic.css'/>
    <style>
      div{
        width: 100px;
        height: 100px;
        background: skyblue;
      }
      ul li{float: left;}
    </style>
  </head>
  <body>
    <h1><%= msg %></h1>
    <p>Welcome to <%= title %></p>
    <div>
    </div>
    <a href="#">这是一个a标签</a>
    <ul>
      <li><%- img1%></li>
      <li><%- img2%></li>
      <li><%- img3%></li>
      <li><%- img4%></li>
    </ul>
  </body>
</html>